/*
  Author: Anmol Agrawal
*/
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html, body{
  font-size: 100%;
}
body{
  background-color: #000;
  background-image: url("../images/body-bg.png");
/*   background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%); */
  background-size: cover;
  width: 100%;
  height: 100%;
}

 body::-webkit-scrollbar {
   width: .2em;
 }

 body::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
   background: linear-gradient(-45deg, #100e17, #201c29);
 }

 body::-webkit-scrollbar-thumb {
   background-color: darkgrey;
   background-image: linear-gradient(-45deg, #4b5d67, #322f3d, #59405c, #87556f);
   outline: 1px solid slategrey;
   border-radius: 60px;
 }

.header {
  border: none;
  border-radius: 0;
  min-height: 70px;
  margin: 0px;
  top: 0;
  width: 100%;
}

.bb{
  border-bottom: 2px solid black;
}

hr {
  width: 5%;
  border: dotted #121212 6px;
  border-bottom: none;
  margin : 10px auto;
}
.mynav li span{
  color: #fff;
}

.mynav li span:hover{
  color: #010101;
}

.hbg {
  background: linear-gradient(-45deg, #4b5d67, #322f3d, #59405c, #87556f);
  background-size: 400% 400%;
  -webkit-animation: bgcolor 15s ease infinite;
  -moz-animation: bgcolor 15s ease infinite;
  animation: bgcolor 15s ease infinite;
}

.center {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.content{
  width: 100%;
}

.section-heading h2{
  color: #121212;
  font-size: 40px;
  font-weight: 1000;
  letter-spacing: 2px;
}
.home{
  padding-top: 8%;
  padding-bottom: 8%;
/*   background-image: radial-gradient( circle farthest-corner at -3.1% -4.3%,  rgba(57,255,186,1) 0%, rgba(21,38,82,1) 90% ); */
}

.profile img{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 250px;
  border-radius: 100%;
}

.intro h1{
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 4px;
}

.subheading {
  color: #121212;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 4px;
}

.contact{
  padding-top: 4%;
  padding-bottom: 6%;
/*   background: #1D4350;
  background: -webkit-linear-gradient(to right, #A43931, #1D4350);
  background: linear-gradient(to right, #A43931, #1D4350); */
}

.mycard{
  background-color: #121212;
  height: 20rem;
  padding: 1.6rem;
  margin: 2px;
  transform: scale(.95);
  transition:.2s all;
}

.mycard:hover{
  transform: scale(1);
}

.my-card-title{
  color: #ffe8d6;
  text-align: center;
}

.my-card-link{
  text-decoration: none;
  text-align: center;
}

.my-card-link:hover{
  text-decoration: none;
  text-align: center;
}


.iconstyle{
  color: #121212;
  font-size: 40px;
  height: 100px;
  width: 100px;
  margin-top: 2rem;
  padding: 30px 0px;
  text-align: center;
  border-radius: 100%;
  background: #fff;
/*  background: -webkit-linear-gradient(to right, #ffffff, #f9f6f7);
  background: linear-gradient(to right, #ffffff, #f9f6f7);
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(0,255,255,255) 0%, rgba(15,249,246,247) 90% ); */
}

.bordershadow:hover {
  box-shadow: 0px 0px 20px #000, 0px 0px 20px #E73C7E;
}

.social{
  padding-left:10px;
  padding-right:10px;
  transform: scale(.8);
  transition: .2s all;
}

.social:hover{
  transform: scale(1);
}

@keyframes bgcolor {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}
@media (max-width:1036px) {
.section-heading h2{
  color: #ffffff;
}
}
/*
  Author: Anmol Agrawal
*/
