* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, indigo, #23A6D5);
    background-size: 800% 800%;
    -webkit-animation: bgcolor 30s ease infinite;
    -moz-animation: bgcolor 30s ease infinite;
    animation: bgcolor 15s infinite;
}

main {
    display: grid;
    place-items: center;
    grid-template-rows: 90% 10%;
    width: 100%;
    height: 100%;
}

.card {
    position: relative;
    width: fit-content;
    height: fit-content;
}

.container {
    width: 18.75rem;
    height: 28.15rem;
    background-color: #292929;
    border-radius: 15px;
    box-shadow: 10px 10px 30px rgb(0, 0, 0);
    text-transform: uppercase;
    animation: reveal 2s;
    display: grid;
    grid-auto-rows: 1fr auto;
}

.card::before {
    content: '';
    position: absolute;
    right: -40px;
    top: -40px;
    border: 15px solid rgba(0, 0, 0, 0);
    border-top-right-radius: 10px;
    border-top: 15px solid tomato;
    border-right: 15px solid tomato;
    display: inline-block;
    width: 80px;
    height: 80px;
}

.card::after {
    content: '';
    position: absolute;
    left: -40px;
    bottom: -40px;
    border: 15px solid rgba(0, 0, 0, 0);
    border-bottom-left-radius: 10px;
    border-left: 15px solid darkblue;
    border-bottom: 15px solid darkblue;
    display: inline-block;
    width: 80px;
    height: 80px;
}

.upper img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: .5rem;
    border: 2px solid indigo;
}

.upper {
    color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: 0.2rem;
}

.upper:nth-child(n),
.lower:nth-child(n) {
    animation: fade 3s ease-in;
}

.upper h1 {
    font-size: 1rem;
    padding: 0.5rem;
}

.upper h2 {
    font-size: 0.8rem;
    padding: 0.4rem;
}

.upper h3 {
    font-size: 0.6rem;
    padding: 0.6rem 0.4rem;
}

.buttons {
    padding: 0.5rem;
    text-align: center;
}

.buttons span {
    background-color: #E73C7E;
    color: white;
    border: 1px solid #E73C7E;
    padding: 0.5rem;
    min-width: 100px;
    outline: none;
    cursor: pointer;
    margin: 0.2rem;
}

.buttons span:hover {
    background-color: rgba(0, 0, 0, 0);
    color: #E73C7E;
    border: 1px solid #E73C7E;
}

.buttons span a {
    font-size: 0.8rem;
    text-transform: none;
    text-decoration: none;
    color: inherit;
}

.lower {
    background-color: #39393B;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.lower h2 {
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
}

.lower ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.lower ul li {
    display: inline-block;
    padding: 0.2rem;
    border: 1px solid #ffffff;
    font-size: 0.6rem;
    margin: 5px 10px 0px 0px;
    cursor: pointer;
}

.lower ul li:hover {
    background-color: #ffffff;
    color: #292929;
    font-size: 0.6rem;
    margin: 5px 10px 0px 0px;
}

.msg {
    width: 100%;
    padding: 1rem;
    text-align: center;
    bottom: 1rem;
    color: antiquewhite;
}

@media screen and (max-width: 425px) {

    .container {
        width: 80vw;
    }

    .card::before,
    .card::after {
        display: none;
    }
}

@media screen and (min-width: 1441px) {

    .card {
        transform: scale(1.5);
    }

    /* .card::before {
        transform: scale(1.5);
    }

    .card::after {
        transform: scale(1.5);
    } */
}

@keyframes reveal {
    0% {
        width: 30px;
        height: 30px;
    }

    50% {
        width: 30px;
        height: 30px;
    }

    100% {
        width: 18.75rem;
        height: 25.15rem;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    66% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes bgcolor {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
