/* ==========================================================================
   *, html, body Styling | Global Variables
   ========================================================================== */

:root {
    --primaryColor: #302b63;
    --secondaryColor: #CAA466;
    --white: #e9d4bc;
    --gradient-background: #0f0c29;
    --gradient-background: -webkit-linear-gradient(to right,
            #24243e,
            #302b63,
            #0f0c29);
    --gradient-background: linear-gradient(to right,
            #24243e,
            #302b63,
            #0f0c29);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body,
html {
    scroll-behavior: smooth;
    width: 100%;
    font-family: "Titillium Web", sans-serif;
}

body::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

a {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

/* ==========================================================================
   Header, Nav Styling
   ========================================================================== */

header {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.7);
    position: sticky;
    top: 0px;
    background: var(--gradient-background);
    color: white;
    z-index: 1;
}

nav {
    min-height: 4vh;
    margin: auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-links li:hover {
    color: var(--white);
}

.nav-links li:active {
    color: gray;
}

.nav-links li a {
    color: inherit;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 0.25rem 2rem;
}

.bubble {
    position: absolute;
    z-index: -1;
    transition: all .5s ease;
    background: var(--secondaryColor);
}

.ham {
    display: none;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.ham div {
    background-color: var(--white);
    width: 25px;
    height: 3px;
    margin: 5px;
    transition: all 0.3s ease;
}

/* ==========================================================================
   Common Styling
   ========================================================================== */

.container {
    display: grid;
    place-items: center;
}

.cards-container {
    margin: 0 auto;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    padding: 3rem 0;
}

.card {
    flex: 0 1 400px;
    height: fit-content;
    width: 100%;
    aspect-ratio: 683/384;
    position: relative;
    border-radius: 20px;
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    transition: all 0.5s ease;
}

/* ==========================================================================
   Main Styling
   ========================================================================== */

section {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
    padding: 3rem 2rem;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: color;
    background-position: center;
}

section h1 {
    font-size: 5rem;
    text-align: center;
    color: var(--primaryColor);
}

section.home {
    background: var(--gradient-background);
}

.intro {
    padding: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    color: var(--white);
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 2rem;
    width: 80%;
}

h1.me {
    font-family: "WindSong", cursive;
    font-size: 10rem;
    color: var(--white);
    text-shadow: 3px 3px 0.3rem #000000;
}

section.work {
    background-image: var(--gradient-background), url('./images/bg.jpg');
}

.work .cards-container {
    max-width: 1500px;
}

.work .card {
    flex: 0 1 380px;
    color: white;
}

.work .card:nth-child(1) {
    background: linear-gradient(90deg, rgb(64, 172, 207) 0%, rgb(64, 96, 156) 100%);
}

.work .card:nth-child(2) {
    background: linear-gradient(90deg, rgb(71, 172, 167) 0%, rgb(71, 88, 52) 100%);
}

.work .card:nth-child(3) {
    background: linear-gradient(90deg, rgb(92, 154, 248) 0%, rgb(92, 45, 220) 100%);
}

.work .card:nth-child(4) {
    background: linear-gradient(90deg, rgb(150, 82, 223) 0%, rgb(149, 161, 195) 100%);
}

.work .card:nth-child(5) {
    background: linear-gradient(90deg, rgb(253, 132, 182) 0%, rgb(252, 90, 4) 100%);
}

.work .card:nth-child(6) {
    background: linear-gradient(90deg, rgb(24, 144, 135) 0%, rgb(24, 115, 149) 100%);
}

.work .card .overlay {
    border-radius: 20px;
}

.work .card:hover .overlay {
    background-color: rgba(0, 0, 0, 0.25);
}

.work .cards-container .card a {
    position: absolute;
    text-decoration: none;
    color: inherit;
    font-size: 2rem;
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
}

section.extra {
    background: linear-gradient(to right, #8e2de2, #4a00e0);
}

section.contact {
    background-image: var(--gradient-background), url('./images/footer_bg4.jpg');
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media screen and (max-width: 768px) {
    header {
        position: relative;
        box-shadow: none;
    }

    nav {
        width: 100%;
        position: absolute;
        flex-direction: column;
        background: rgba(0, 0, 0, 0);
        transition: transform 1s ease-in-out;
        transform: translateY(-85%);
    }

    .puller {
        position: relative;
        filter: drop-shadow(-2px 5px 5px rgba(0, 0, 0, 0.5));
        z-index: -1;
    }

    .ham {
        display: block;
        padding: 1rem;
        background: var(--gradient-background);
        clip-path: polygon(90% 0, 100% 75%, 50% 100%, 0 75%, 10% 0);
    }

    .nav-links {
        width: 100%;
        padding: 1rem;
        flex-direction: column;
        align-items: center;
        font-size: 1.2rem;
        box-shadow: -10px 20px 20px rgba(0, 0, 0, 0.5);
        background: var(--gradient-background);
    }

    .nav-links li {
        opacity: 0;
    }

    .nav-active {
        transform: translateY(0%);
    }

    .trigger .line1 {
        transform: translate(0px, 4px) rotate(45deg);
    }

    .trigger .line2 {
        display: none;
    }

    .trigger .line3 {
        transform: translate(0px, -4px) rotate(-45deg);
    }

    h1.me {
        font-size: 5rem;
    }
}

/* ==========================================================================
   keyframes
   ========================================================================== */

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-200%);
    }

    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes unfade {
    from {
        opacity: 1;
        transform: translateY(0%);
    }

    to {
        opacity: 0;
        transform: translateY(-200%);
    }
}