footer.page-footer {
    bottom: 0;
    color: #fff
}

footer.page-footer .container-fluid {
    width: auto
}

footer.page-footer .footer-copyright {
    overflow: hidden;
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(0, 0, 0, 0.2)
}

footer.page-footer a {
    color: #fff
}

.flex-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%
}

.flex-center p {
    margin: 0
}

.flex-center ul {
    text-align: center
}

.flex-center ul li {
    margin-bottom: 1rem
}

.flex-center ul li:last-of-type {
    margin-bottom: 0
}

.colo-change {
  animation: pulse 5s infinite, expand 2s;
}

@keyframes pulse {
  0% {
    color: #61f15e;
  }
  50% {
    color: #07d8a4;
  }
  100% {
    color: #23d6f1;
  }
}


/*
  Author: Anmol Agrawal
*/
